Paris Olympics 2024 - Data Analysis and Visualization

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from wordcloud import WordCloud
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")

In [4]:
# Load the data from the Excel file
df_gender = pd.read_excel('Olympic_Data/EntriesGender.xlsx')
df_team = pd.read_excel('Olympic_Data/Teams.xlsx')
df_athlete = pd.read_excel('Olympic_Data/Athletes.xlsx')
df_coaches = pd.read_excel('Olympic_Data/Coaches.xlsx')
df_medals = pd.read_excel('Olympic_Data/Medals (1).xlsx')

In [7]:
df_medals.head(10)

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
5,6,Australia,17,7,22,46,6
6,7,Netherlands,10,12,14,36,9
7,8,France,10,12,11,33,10
8,9,Germany,10,11,16,37,8
9,10,Italy,10,10,20,40,7